.faqs-search {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid white;
  border-radius: 0px;
  font-size: 72px;
  color: #b8b8b8;
  width: 60%;
  height: fit-content;
}

.faqs-search:focus {
  outline: 0;
}

.accordion {
  font-size: calc(5px + 2vw);
  font-weight: bold;
  color: #4743ff;
}
.accordion-sub {
  color: #b8b8b8;
  font-size: calc(1px + 1.5vw);
}

.accordion-content {
  animation: fadeIn 1s;
}
.accordion-btn {
  margin-right: 10%;
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
