body {
  margin: 0;
  background: #0a0a0a;
  color: #fff;
  font-family: inter;
}
button {
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  height: 55px;
  color: #fff;
  font-family: inter;
  font-weight: bold;
  font-size: 18px;
  padding: 0 40px;
  width: fit-content;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-4px);
  transition: 0.5s;
}
.action:hover {
  border-color: #4743ff;
}
.link {
  background: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: #fff;
  font-family: inter;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 40px;
  width: fit-content;
  cursor: pointer;
  text-decoration: none;
}

.hero {
  font-size: calc(20px + 6vw);
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.subHero {
  font-size: calc(18px + 1.5vw);
  font-weight: bold;
  color: #b8b8b8;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.socialMedia {
  color: #fff;
}
.socialMedia:hover {
  color: #4743ff;
  transform: scale(1.1);
}
input {
  border-radius: 10px;
  height: 55px;
  padding: 0 40px;
}
.underWait {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
/* Laptops, Computers, and iPad Airs */
@media screen and (min-width: 820px) {
  .waitList {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and(max-width: 820px) {
  .waitList {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
}
